set -g @tmux-dotbar-bg "{{ colors.terminal_background.default.hex }}"
set -g @tmux-dotbar-fg "{{ colors.terminal_bright_black.default.hex }}"
set -g @tmux-dotbar-fg-current "{{ colors.terminal_foreground.default.hex }}"
set -g @tmux-dotbar-fg-session "{{ colors.terminal_bright_magenta.default.hex }}"
set -g @tmux-dotbar-fg-prefix "{{ colors.terminal_bright_blue.default.hex }}"
run-shell "~/.config/tmux/plugins/tmux-dotbar/dotbar.tmux"
